/** 
    * Haupt-CSS Datei für die Website
    * Hier werden alle globalen Styles definiert
    * Guide: 2.3
*/

@import './reset.css';


/* 
    Wenn Tailwind CSS genutzt wird, diese Zeilen einkommentieren (Guide: 4.2):
    @import "tailwindcss";
    @source "../../site";
*/
    

body {
    font-family: 'jetbrains-mono', sans-serif;
    position: relative;
    font-size: 16px; /* Basis-Schriftgröße. Da wir auf bei allen Einheiten der Website auf rem setzen, vergrößern sich alle Elemente proportional zu diesem Wert */
    margin: 0;
    min-height: 100vh; /* Body soll mindestens die Höhe des Viewports haben, damit der Footer immer unten bleiben kann */
    padding: 0 2rem;
    padding-bottom: 6rem; /* Platz für den Footer schaffen */
    background-color: #fff;
    color: #333;

}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}



/* Navigation Styles */

.navigation {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.navigation-item {
    text-decoration: none;
    color: black;
}

.navigation-item:hover {
    color: red;
}

.navigation-item.active {
    font-weight: bold;
}

/* Styles für wiederkehrende Elemente der Seite */
.card {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 4rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.page-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.page-cover {
    margin-bottom: 2rem;
}

.page-infos {
    color: #666;
    margin-bottom: 2rem;
}

.footer {
    position: absolute; /* Footer immer am unteren Rand der Seite ankleben */
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #ccc;
    left: 50%;
    transform: translateX(-50%);
}

.article p + p {
    margin-top: 1rem;
}

.artth2 + p {
    margin-top: 1.5rem;
}


/* Font Faces */
@font-face {
    font-family: jetbrains-mono;
    font-weight: normal;
    font-style: normal;
    src: url('/src/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: jetbrains-mono;
    font-weight: bold;
    font-style: normal;
    src: url('/src/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}